*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App {
min-height: 100vh;
background-color: #104F55;
  background-size: cover;
  background-position: center;
}


.results_container{
  padding-top: 1.5rem;
  margin: 0 auto;
  border-radius: 10px;
  background: transparent;
  width: 45%;
  display: flex;
  flex-direction: column;
}




